
*{
    box-sizing: border-box;
}
.container {
    background-color: #43A047;
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}
.title {
    margin: 0.5rem 0 0;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    font-size: 28px;
}
/* 
.level-counter {
    position: relative;
    display: inline-block;
    height: 30px;
    margin-top: 0.5rem;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.arrow.disabled {
    opacity: 0.5;
}
.arrow.left {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px 0 0 4px;
}
.arrow {
    display: inline-flex;
    align-items: center;
    padding: 0.25em 0.5em 0.2em;
    padding-top: 0.25em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    cursor: pointer;
}
.level-indicator, .arrow {
    float: left;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
}
.level-indicator:hover {
    background-color:rgba(255, 255, 255, 0.4);
}
.left .triangle {
    border-right: 11px solid rgba(255, 255, 255, 0.7);
    border-right-width: 11px;
    border-right-style: solid;
    border-right-color: rgba(255, 255, 255, 0.7);
    
}
.left-indicator:hover {
    background-color:rgba(255, 255, 255, 0.4);
}

.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
}
.level-indicator {
    display: inline-block;
    width: 160px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.level-indicator, .arrow {
    float: left;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
}
.labelLevel {
    margin-left: 10px;
}
.caret {
    display: inline-block;
    margin-left: 5px;
}
.arrow.right {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 4px 4px 0;
}
.arrow {
    display: inline-flex;
    align-items: center;
    padding: 0.25em 0.5em 0.2em;
    padding-top: 0.25em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    padding-left: 0.5em;
    cursor: pointer;
}
.level-indicator, .arrow {
    float: left;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
}
.right .triangle {
    border-left: 11px solid rgba(255, 255, 255, 0.7);
    border-left-width: 11px;
    border-left-style: solid;
    border-left-color: rgba(255, 255, 255, 0.7);
}
.right:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.triangle {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-top-width: 7px;
    border-top-style: solid;
    border-top-color: transparent;
    border-bottom: 7px solid transparent;
    border-bottom-width: 7px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
} */