.level-marker {
    float: left;
    display: inline-block;
    width: 33px;
    height: 33px;
    margin: 2px;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    line-height: 26px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid transparent;
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}